
body 


#banner{
          width: 100%;
      border-radius: 10px;
    
}       

.principal{
   background: #CCCCCC; 
   padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
}
.Titulo-centralizado {
    text-align: center;}

p { 
    text-align: center; 
} 

#missao{
   font-size: 20px;
}

em strong{ 
    color: red;     
}

.itens{
    font-style: italic;
}

.Beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios{
     width: 40%;
      
}

.menu {
    margin-top: 10px;
    display: flex;
    gap: 15px; /* espaço entre os botões */
}

.botao {
    text-decoration: none;
    background-color: #333; /* cor do botão */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header {
    text-align: center; /* centraliza tudo dentro do header */
    padding: 20px 0;
}

.menu {
    margin-top: 15px;
    display: flex;
    justify-content: center; /* centraliza os botões horizontalmente */
    gap: 15px; /* espaço entre os botões */
}

.botao {
    text-decoration: none;
    background-color: #333; /* cor do botão */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #555; /* muda a cor ao passar o mouse */
}

